@use "./abstracts";
@use "./components";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	font-family: "roboto mono";
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}