@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
   display: flex;
   justify-content: center;
   flex-direction: column;
   --accent: #407294;
   --text: black;
   --alttext: white;
}

.submit{
    padding: 0.25rem;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    width: 500px;
    align-self: center;
    display: flex;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
}

.submit-button{
    font-family: "roboto mono";
    background-color: var(--accent);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.URL{
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    font-family: "roboto mono";
}

#player{
    margin-top: 50px;
    align-self: center;
}

.controls{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.progress{
    background-color: black;
    width: 400px;
    height: 4px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 8px;
    cursor: pointer;
}

.cursor{
    width: 10px;
    height: 10px;
    bottom: 6px;
    position: relative;
    border-style: solid;
    align-self: center;
    transition: 200ms;
}

.fas{
    align-self: center;
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.sessionId{
    font-family: "roboto mono";
    position: absolute;
    left: 0;
    top: 100%;
    font-size: small;
}

.volume-container{
    height: 10px;
    border-style: solid;
    width: 50px;
    margin-top: 18px;
    margin-left: 2px;
    cursor: pointer;
}

.meter{
    height: 100%;
    background-color: var(--accent);
    transition: 500ms;
}
