@use "../abstracts" as *;


header {
	height: 3em;
	margin-bottom: 10px;
	width: 100%;
}

.submit {
	padding: 0.3rem;
	display: flex;
	height: max-content;
	max-height: 50%;
	box-sizing: border-box;
	width: 500px;
	border-color: var(--text);
	border-style: solid;
	background-color: var(--bg);
	border-radius: 6px;
	position: absolute;
	justify-content: center;
	flex-wrap: wrap;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;


    &[data-queue=true] {
        overflow-y: auto;
        @include scrollbar-color(var(--accent), var(--bg));
    }


    .list {
        align-self: center;

        .fas.fa-list{
            margin-right: 5px;
            cursor: pointer;
            color: var(--text)
        }
    }

    .URL {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;
        color: var(--statetext);
        background-color: var(--bg);
        transition: color 250ms, background-color 250ms;
        height: 30px;
        align-self: center;
    }

    .URL::placeholder{
        color: var(--statetext)
    }

    .URL[data-error=true] {
        background-color: rgb(255, 98, 98);
        color: var(--alttext);
        text-align: center;
        font-weight: bold;
    }

    .submit-button {
        background-color: var(--accent);
        color: var(--alttext);
        outline: none;
        border: none;
        cursor: pointer;
        height: 30px;
        align-self: center;
    }

    .queue-container {

        align-self: center;
        background-color: var(--pannel);
        color: var(--alttext);
        height: 0;
        width: 0;
        border-radius: 6px;
        opacity: 0;
        max-height: 100%;

        &[data-visibility=visible]{
            visibility: visible;
            opacity: 1;
            z-index: 2;
            height: max-content;
            width: 100%;
            animation: growDown 300ms ease-in-out both;
            transform-origin: top;
            transition: visiblity 250ms, opacity 250ms;
            padding: 2%;
        }

        .queue-header {
            margin: 0;
            display: flex;
            flex-direction: row;
            color: var(--statetext);

            .clear-button {
                background-color: var(--accent);
                color: var(--alttext);
                border-radius: 50px;
                border-style: none;
                align-self: flex-end;
                height: 100%;
                margin-left: auto;
    
                &[data-active=false]{
                    background-color: grey;
                    cursor: pointer;
                }
            }
        }

        .queue-list{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            color: var(--statetext);

            .queue-element{
                cursor: pointer;
                animation: growOut 250ms ease-in-out forwards;	
                padding: 1%;
            }
        }   
    }
}


@keyframes growDown {
	0% {
	  transform: scaleY(0)
	}
	80% {
	  transform: scaleY(1.1)
	}
	100% {
	  transform: scaleY(1)
	}
}

@keyframes growOut {
	0% {
	  transform: translateX(-100%)
	}
	80% {
		transform: translateX(-10%)
	}
	100% {
	  transform: translateX(0)
	}
}








